#calendar {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50%;
}

#logout-btn {
    font-size: 10px;
}

#login-register-view {
    text-align: center;
}

    #login-register-view > div {
        margin-top: 25%;
    }

input {
    line-height: 2em;
    width: 35%;
    margin-bottom: 1%;
}
